body{
    margin: auto;
    padding: auto;
    background-image: url(https://cdn.pixabay.com/photo/2018/08/29/03/57/man-3639100_1280.jpg)
}
/*.container-2{
    background-color: rgba(247, 252, 252, 0.377);
    min-height: 80px;
    min-width: 100px;
    bottom: 20px;
}*/

.bg-green{
    justify-content: flex-end;
    background-color: rgba(207, 211, 211, 0.425);
    font-family: 'Times New Roman', Times, serif;
    font-size: x-larges;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 10px;
    width: 210px;
    border-radius: 20px;

}
.bg-blue{
    background-color: rgba(136, 164, 218, 0.438);
    border-radius: 20px;
}
.menu{
    background-color: rgba(159, 159, 163, 0.534); 
    border-radius: 10px;   
    padding: 10px;
}
.sub-menu{
    border-radius: 10px;
    margin: 10px;
    padding-right: 10px;
    background-color: azure;
    padding-top: 0%;
    padding-bottom: 0%;
}
/*justify-items: end;
    background-color: #afa8a8dc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin: 100px auto;
    max-width: 400px;
    padding: 50px;