body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
 .container-fluid{
    max-width: 50%;
    margin: 6rem;
    padding: 0;
} 
.card{
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.158);
    border-radius: 5px;
    margin: 1rem;
    background-color: rgba(200, 200, 200, 0.800);
}
.card-head{
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 1rem 0rem 2rem 0rem;
}
.logo-head{
    width: 20%;
    height: 20%;
}
.card-body{
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 1rem 0rem 1rem 0rem;
    
    
}
.input1{
    padding: 0 0 2rem 0;
}
.input{
    width: 60%;
    margin-bottom: 1rem;
    border-top: #fcfafa;
    border-left: #fcfafa;
    border-right: #fcfafa;
    border-color: rgb(255, 30, 30, 0.850);
}
.input:focus{
    border-top: #fcfafa;
    border-left: #fcfafa;
    border-right: #fcfafa;
    border-color: rgb(247, 3, 3);
}
.btn{
    margin: 1rem 0 2rem 0;
    width: 50%;
    border-radius: 5px;
    padding: 0;
}
.btn-login{
    font-weight: 600;
    width: 100%;
    border-radius: 5px;
    background-color: rgba(120, 120, 120);
    color: white;
    text-decoration: none;
    padding: 0.5rem;
}
.btn-login:hover{
    background-color: rgba(255, 30, 30, 0.850);
    color: rgb(0, 0, 0);
}

.enlaces{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    grid-template-columns: 2, 1fr;
    margin: 2rem 0 2rem 0rem;
}
.a{
    text-decoration: none;
}
